{
	"mediasUrl":"http://trevoux.alainbarthelemy.com/medias/",
	"lang":"fr",
	"balads":[
			{
				"baladTitle":"Histoires de Saône",
				"baladSubtitle":"Trévoux",
				"etapes":{
						"fr":["Passerelle", "Lavoir", "La place de la terrasse", "la rue du port"],
						"en":["The footbridge", "The wash house","View point","The rue du port","The Saone and games"]
				}
			},
			{
				"baladTitle":"Histoires d'étangs",
				"baladSubtitle":"Civrieux / Saint-André-de-Corcy",
				"etapes":{
						"fr":["station2", "Station2a", "station3", "station4"],
						"en":["station2", "station3","station4"]
				}
			},
			{
				"baladTitle":"Histoires de Saône",
				"baladSubtitle":"Maison éclusière Port Bernalin",
				"etapes":{
						"fr":["Île Beyne", "Pêche de nuit", "Barrage à aiguille", "Loisirs", "Le relais des Escuries", "Chasse canardiere", "Pêche", "Transport fluvial"],
						"en":["Île Beyne", "Night fishing","Needle dam","Leisure activities","The relais des Escuries", "S3R Duck hunting", "S4R Fishing", "S5 River transport"]
				}
			},
			{
				"baladTitle":"Histoires de Saône",
				"baladSubtitle":"Saint-Bernard",
				"etapes":{
						"fr":["Le Pont de Saint Bernard", "Le village de Saint Bernard", "Le Chateau", "Le relais des Mariniers", "Bifurcation et la peupleraie", "Les francs bords", "La confluence", "La culture du Chanvre"],
						"en":["Saint Bernard bridge", "Saint Bernard village", "The Castle", "The relais des Mariniers", "The francs bords", "Fork and the poplar plantation ", "The confluence", "Hemp farming"]
				}
			}
	]
}
